.option-tree{
    font-weight: 500;
    font-size: 15px;

}

.this-reduire:after {
    content: "✭";
    white-space: pre;
    color: red;
  }

  .table th {
      border-bottom: 0px !important;
  }

  table.dataTable.no-footer{
      border-bottom: 0px !important;
  }

  .paginate_button .current{
      background:linear-gradient(to bottom, rgb(90, 119, 84) 0%, #6e9c7d 100%) !important;
  }